<div class="container page">
  <div class="d-flex flex-column">
    <h1>AIT Collab</h1>
    <p>By Students. For Students.</p>
  </div>
    <div class="">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div *ngIf="showLoginError" class="text-danger mb-2">Invalid Credentials</div>
            <div class="form-group mb-2">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                [(ngModel)]="username"
                required
                #usernameInput="ngModel"
                data-cy="username"
              >
              <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
                <div *ngIf="usernameInput.errors && usernameInput.errors['required']" class="text-danger">Username is required.</div>
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel" data-cy="password">
              <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                <div *ngIf="passwordInput.errors && passwordInput.errors['required']" class="text-danger">Password is required.</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="disableSubmit">Login</button>
            <div class="text-center">
              <a routerLink="/register" id="register">Do not have an account? Sign up here!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
  