<nav class="p-2 sidebar">   
    <a class="nav-link" [routerLink]="['/dashboard']"><i class="fa-solid fa-house"></i>Home</a>

    <a class="nav-link" [routerLink]="['/connections']"><i class="fa-solid fa-handshake"></i>Connections</a>
  
    <a class="nav-link" [routerLink]="['/events']"><i class="fa-solid fa-calendar-days"></i>Events</a>
    <a class="nav-link" routerLink="/profile"><i class="fa-solid fa-user"></i>Profile</a> 
    <a class="nav-link" (click)="onLogout()"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
    
    <img src="../../assets/AIT_globe.png" />
</nav>
