<div class="container">
    <div class="d-flex flex-column">
      <h1>AIT Collab</h1>
      <p>By Students. For Students.</p>
    </div>
    <div>
        <div class="card">
          <div class="card-body">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
              <div *ngIf="showError" class="text-danger text-center">Registration Failed. Please try again</div>
              <div class="form-group mb-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName" required #firstNameInput="ngModel">
                <div *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)">
                  <div *ngIf="firstNameInput.errors && firstNameInput.errors['required']" class="text-danger">First Name is required.</div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" required #lastNameInput="ngModel">
                <div *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)">
                  <div *ngIf="lastNameInput.errors && lastNameInput.errors['required']" class="text-danger">Last Name is required.</div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required pattern="^[\w-]+@ait\.(asia|ac\.th)$" #emailInput="ngModel">
                <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                  <div *ngIf="emailInput.errors && emailInput.errors['required']" class="text-danger">Email is required.</div>
                  <div *ngIf="emailInput.errors && emailInput.errors['pattern']" class="text-danger">Email must be @ait.asia or @ait.ac.th.</div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required minlength="8" #passwordInput="ngModel">
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                  <div *ngIf="passwordInput.errors && passwordInput.errors['required']" class="text-danger">Password is required.</div>
                  <div *ngIf="passwordInput.errors && passwordInput.errors['minlength']" class="text-danger">Password must be at least 8 characters long.</div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required minlength="8" #confirmPasswordInput="ngModel">
                <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
                  <div *ngIf="confirmPasswordInput.errors && confirmPasswordInput.errors['required']" class="text-danger">Confirm Password is required.</div>
                  <div *ngIf="confirmPasswordInput.errors && confirmPasswordInput.errors['minlength']" class="text-danger">Confirm Password must be at least 8 characters long.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="disableSubmit">Register</button>
              <div class="text-center">
                <a routerLink="/login">Already have an account? Log in</a>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  